<a href="https://colab.research.google.com/github/nguyenmanhcuong1291/python-outsource-brudertek-/blob/main/T%C3%ADnh_ti%E1%BB%81n_ph%E1%BA%A1t_l%C5%A9y_k%E1%BA%BF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials

# Lấy dữ liệu từ gsheets
nếu lấy dữ liệu từ db, thay:

ki_nop_phat_df
nop_phat_thuc_te_df

thành các query tương ứng

In [3]:
# Đặt phạm vi (scope)
scope = ["https://spreadsheets.google.com/feeds", "https://www.googleapis.com/auth/drive"]

# Tải credentials từ file JSON
creds = ServiceAccountCredentials.from_json_keyfile_name('/content/drive/MyDrive/Dự án/Báo cáo outsource anh Tuấn brudertek/service_account_credentials.json', scope)
client = gspread.authorize(creds)

# Mở Google Sheet bằng URL hoặc ID
spreadsheets = client.open_by_url('https://docs.google.com/spreadsheets/d/1fA6v3fc_hOCAFod0rbob_Edv3_2J6gW3GlRf0Vib4Rc/edit?gid=1322719953#gid=1322719953')
ki_nop_phat_sheet = spreadsheets.get_worksheet_by_id('1322719953').get_all_records()
Nop_phat_thuc_te_sheet = spreadsheets.get_worksheet_by_id('1303177755').get_all_records()

In [4]:
# lấy bảng kì hạn dự kiến
ki_nop_phat_df = pd.DataFrame(ki_nop_phat_sheet)
ki_nop_phat_df

,Mã hợp đồng,Kỳ hạn,Ngày đến hạn,Dư nợ gốc đầu kỳ,Dư nợ gốc cuối kỳ
0,VT_27032019_TC5288,1,2019-05-02,20000000,19342585
1,VT_27032019_TC5288,2,2019-06-02,19342585,18646820
2,VT_27032019_TC5288,3,2019-07-02,18646820,17910469
3,VT_27032019_TC5288,4,2019-08-02,17910469,17131164
4,VT_27032019_TC5288,5,2019-09-02,17131164,16306400
5,VT_27032019_TC5288,6,2019-10-02,16306400,15433525
6,VT_27032019_TC5288,7,2019-11-02,15433525,14509732
7,VT_27032019_TC5288,8,2019-12-02,14509732,13532051
8,VT_27032019_TC5288,9,2020-01-02,13532051,12497339
9,VT_27032019_TC5288,10,2020-02-02,12497339,11402268
10,VT_27032019_TC5288,11,2020-03-02,11402268,10243319
11,VT_27032019_TC5288,12,2020-04-02,10243319,9016764
12,VT_27032019_TC5288,13,2020-05-02,9016764,7718660
13,VT_27032019_TC5288,14,2020-06-02,7718660,6344833
14,VT_27032019_TC5288,15,2020-07-02,6344833,4890866
15,VT_27032019_TC5288,16,2020-08-02,4890866,3352084
16,VT_27032019_TC5288,17,2020-09-02,3352084,1723540
17,VT_27032019_TC5288,18,2020-10-02,1723540,0
18,VT_2,1,2019-05-02,1723540,0
19,VT_2,2,2019-06-02,1723540,0
20,VT_2,3,2019-07-02,1723540,0
21,VT_2,4,2019-08-02,1723540,0
22,VT_2,5,2019-09-02,1723540,0
23,VT_2,6,2019-10-02,1723540,0
24,VT_2,7,2019-11-02,1723540,0
25,VT_2,8,2019-12-02,1723540,0
26,VT_2,9,2020-01-02,1723540,0
27,VT_2,10,2020-02-02,1723540,0
28,VT_2,11,2020-03-02,1723540,0
29,VT_2,12,2020-04-02,1723540,0
30,VT_2,13,2020-05-02,1723540,0
31,VT_2,14,2020-06-02,1723540,0
32,VT_2,15,2020-07-02,1723540,0
33,VT_2,16,2020-08-02,1723540,0
34,VT_2,17,2020-09-02,1723540,0
35,VT_2,18,2020-10-02,1723540,0

In [5]:
ki_nop_phat_df['Ngày đến hạn'] = pd.to_datetime(ki_nop_phat_df['Ngày đến hạn'], format='%Y-%m-%d')

In [6]:
#lấy bảng nộp phạt thực tế
nop_phat_thuc_te_df = pd.DataFrame(Nop_phat_thuc_te_sheet).iloc[:,:5]
nop_phat_thuc_te_df

,Mã hợp đồng,Thời gian trả,Ngày vào sổ,Kỳ đóng tiền,Số tiền nộp phạt
0,VT_27032019_TC5288,5/13/2019 10:25:09,2019-05-13,1,0
1,VT_27032019_TC5288,6/7/2019 0:00:00,2019-06-07,2,0
2,VT_27032019_TC5288,7/2/2019 0:00:00,2019-07-02,3,500000
3,VT_27032019_TC5288,8/7/2019 0:00:00,2019-08-07,4,0
4,VT_27032019_TC5288,8/15/2019 0:00:00,2019-08-15,4,100000
5,VT_27032019_TC5288,9/6/2019 0:00:00,2019-09-06,5,100000
6,VT_27032019_TC5288,10/3/2019 13:24:35,2019-10-03,6,100000
7,VT_27032019_TC5288,11/4/2019 8:32:21,2019-11-04,7,100000
8,VT_27032019_TC5288,12/2/2019 0:00:00,2019-12-02,8,100000
9,VT_27032019_TC5288,1/2/2020 15:25:40,2020-01-02,9,100000
10,VT_27032019_TC5288,3/4/2020 14:40:42,2020-03-04,11,100000
11,VT_27032019_TC5288,4/20/2020 10:17:12,2020-04-20,12,100000
12,VT_27032019_TC5288,5/15/2020 13:23:47,2020-05-15,13,100000
13,VT_27032019_TC5288,6/8/2020 14:26:42,2020-06-08,14,100000
14,VT_27032019_TC5288,7/6/2020 14:41:08,2020-07-06,15,100000
15,VT_27032019_TC5288,8/5/2020 0:00:00,2020-08-05,16,100000
16,VT_27032019_TC5288,9/7/2020 18:54:28,2020-09-07,17,100000
17,VT_27032019_TC5288,10/5/2020 0:00:00,2020-10-05,18,100000
18,VT_27032019_TC5288,7/6/2020 14:41:08,2020-07-07,15,100000
19,VT_27032019_TC5288,8/5/2020 0:00:00,2020-08-06,16,100000
20,VT_27032019_TC5288,9/7/2020 18:54:28,2020-09-08,17,100000
21,VT_27032019_TC5288,10/5/2020 0:00:00,2020-10-06,18,100000
22,VT_2,5/13/2019 10:25:09,2019-05-13,1,0
23,VT_2,6/7/2019 0:00:00,2019-06-07,2,0
24,VT_2,7/2/2019 0:00:00,2019-07-02,3,500000
25,VT_2,8/7/2019 0:00:00,2019-08-07,4,0
26,VT_2,8/15/2019 0:00:00,2019-08-15,4,100000
27,VT_2,9/6/2019 0:00:00,2019-09-06,5,100000
28,VT_2,10/3/2019 13:24:35,2019-10-03,6,100000
29,VT_2,11/4/2019 8:32:21,2019-11-04,7,100000
30,VT_2,12/2/2019 0:00:00,2019-12-02,8,100000
31,VT_2,1/2/2020 15:25:40,2020-01-02,9,0
32,VT_2,3/4/2020 14:40:42,2020-03-04,11,0
33,VT_2,4/20/2020 10:17:12,2020-04-20,12,0
34,VT_2,5/15/2020 13:23:47,2020-05-15,13,0
35,VT_2,6/8/2020 14:26:42,2020-06-12,14,0
36,VT_2,7/6/2020 14:41:08,2020-07-06,15,0
37,VT_2,8/5/2020 0:00:00,2020-08-05,16,0
38,VT_2,9/7/2020 18:54:28,2020-09-07,17,0
39,VT_2,10/5/2020 0:00:00,2020-10-05,18,0
40,VT_2,7/6/2020 14:41:08,2020-07-07,15,0
41,VT_2,8/5/2020 0:00:00,2020-08-06,16,0
42,VT_2,9/7/2020 18:54:28,2020-09-08,17,0
43,VT_2,10/5/2020 0:00:00,2020-10-06,18,100000

In [7]:
nop_phat_thuc_te_df["Ngày vào sổ"] = pd.to_datetime(nop_phat_thuc_te_df['Ngày vào sổ'], format='%Y-%m-%d')

In [8]:
nop_phat_thuc_te_grb_df  = nop_phat_thuc_te_df.groupby(["Mã hợp đồng","Kỳ đóng tiền"]).agg({
    'Thời gian trả': 'min',
    'Số tiền nộp phạt': 'sum'}).reset_index()
nop_phat_thuc_te_grb_df

           Mã hợp đồng  Kỳ đóng tiền       Thời gian trả  Số tiền nộp phạt
0                 VT_2             1  5/13/2019 10:25:09                 0
1                 VT_2             2    6/7/2019 0:00:00                 0
2                 VT_2             3    7/2/2019 0:00:00            500000
3                 VT_2             4   8/15/2019 0:00:00            100000
4                 VT_2             5    9/6/2019 0:00:00            100000
5                 VT_2             6  10/3/2019 13:24:35            100000
6                 VT_2             7   11/4/2019 8:32:21            100000
7                 VT_2             8   12/2/2019 0:00:00            100000
8                 VT_2             9   1/2/2020 15:25:40                 0
9                 VT_2            11   3/4/2020 14:40:42                 0
10                VT_2            12  4/20/2020 10:17:12                 0
11                VT_2            13  5/15/2020 13:23:47                 0
12                VT_2            14   6/8/2020 14:26:42                 0
13                VT_2            15   7/6/2020 14:41:08                 0
14                VT_2            16    8/5/2020 0:00:00                 0
15                VT_2            17   9/7/2020 18:54:28                 0
16                VT_2            18   10/5/2020 0:00:00            100000
17  VT_27032019_TC5288             1  5/13/2019 10:25:09                 0
18  VT_27032019_TC5288             2    6/7/2019 0:00:00                 0
19  VT_27032019_TC5288             3    7/2/2019 0:00:00            500000
20  VT_27032019_TC5288             4   8/15/2019 0:00:00            100000
21  VT_27032019_TC5288             5    9/6/2019 0:00:00            100000
22  VT_27032019_TC5288             6  10/3/2019 13:24:35            100000
23  VT_27032019_TC5288             7   11/4/2019 8:32:21            100000
24  VT_27032019_TC5288             8   12/2/2019 0:00:00            100000
25  VT_27032019_TC5288             9   1/2/2020 15:25:40            100000
26  VT_27032019_TC5288            11   3/4/2020 14:40:42            100000
27  VT_27032019_TC5288            12  4/20/2020 10:17:12            100000
28  VT_27032019_TC5288            13  5/15/2020 13:23:47            100000
29  VT_27032019_TC5288            14   6/8/2020 14:26:42            100000
30  VT_27032019_TC5288            15   7/6/2020 14:41:08            200000
31  VT_27032019_TC5288            16    8/5/2020 0:00:00            200000
32  VT_27032019_TC5288            17   9/7/2020 18:54:28            200000
33  VT_27032019_TC5288            18   10/5/2020 0:00:00            200000

In [9]:
# Merge
merged_df = pd.merge(nop_phat_thuc_te_df, nop_phat_thuc_te_grb_df, on=['Mã hợp đồng','Kỳ đóng tiền'], suffixes=('', '_grouped'))

# Loại bỏ các hàng trùng lặp dựa trên 'Kỳ đóng tiền'
final_nop_phat_thuc_te_grb_df = merged_df.drop_duplicates(['Mã hợp đồng','Kỳ đóng tiền'])

In [10]:
final_nop_phat_thuc_te_grb_df=final_nop_phat_thuc_te_grb_df.reset_index().drop(columns=["Thời gian trả","Số tiền nộp phạt",'index'])

In [11]:
final_nop_phat_thuc_te_grb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Mã hợp đồng               34 non-null     object
 1   Ngày vào sổ               34 non-null     datetime64[ns]
 2   Kỳ đóng tiền              34 non-null     int64
 3   Thời gian trả_grouped     34 non-null     object
 4   Số tiền nộp phạt_grouped  34 non-null     int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 1.5+ KB

In [12]:
ki_nop_phat_df.columns

Index(['Mã hợp đồng', 'Kỳ hạn', 'Ngày đến hạn', 'Dư nợ gốc đầu kỳ',
       'Dư nợ gốc cuối kỳ'],
      dtype='object')

In [13]:
final_nop_phat_thuc_te_grb_df.columns

Index(['Mã hợp đồng', 'Ngày vào sổ', 'Kỳ đóng tiền', 'Thời gian trả_grouped',
       'Số tiền nộp phạt_grouped'],
      dtype='object')

In [14]:
final_df = pd.merge(ki_nop_phat_df,final_nop_phat_thuc_te_grb_df, how='left',left_on=['Mã hợp đồng', 'Kỳ hạn'],right_on=["Mã hợp đồng","Kỳ đóng tiền"])

In [15]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Mã hợp đồng               36 non-null     object
 1   Kỳ hạn                  36 non-null     int64
 2   Ngày đến hạn              36 non-null     datetime64[ns]
 3   Dư nợ gốc đầu kỳ       36 non-null     int64
 4   Dư nợ gốc cuối kỳ     36 non-null     int64
 5   Ngày vào sổ               34 non-null     datetime64[ns]
 6   Kỳ đóng tiền              34 non-null     float64
 7   Thời gian trả_grouped     34 non-null     object
 8   Số tiền nộp phạt_grouped  34 non-null     float64
dtypes: datetime64[ns](2), float64(2), int64(3), object(2)
memory usage: 2.7+ KB

In [16]:
final_df.isna().value_counts()

Mã hợp đồng  Kỳ hạn  Ngày đến hạn  Dư nợ gốc đầu kỳ  Dư nợ gốc cuối kỳ  Ngày vào sổ  Kỳ đóng tiền  Thời gian trả_grouped  Số tiền nộp phạt_grouped
False        False     False         False                False                  False        False         False                  False                       34
                                                                                 True         True          True                   True                         2
Name: count, dtype: int64

In [17]:
# final_df.describe()

In [18]:
final_df["Ngày quá hạn"] = (final_df['Ngày vào sổ'] - final_df['Ngày đến hạn']).dt.days

In [19]:
final_df["Ngày quá hạn"] = final_df["Ngày quá hạn"].fillna(25).astype(int)

In [20]:
final_df["Số tiền nộp phạt_grouped"] = final_df["Số tiền nộp phạt_grouped"].fillna(0).astype(int)

In [21]:
final_df

,Mã hợp đồng,Kỳ hạn,Ngày đến hạn,Dư nợ gốc đầu kỳ,Dư nợ gốc cuối kỳ,Ngày vào sổ,Kỳ đóng tiền,Thời gian trả_grouped,Số tiền nộp phạt_grouped,Ngày quá hạn
0,VT_27032019_TC5288,1,2019-05-02,20000000,19342585,2019-05-13,1.0,5/13/2019 10:25:09,0,11
1,VT_27032019_TC5288,2,2019-06-02,19342585,18646820,2019-06-07,2.0,6/7/2019 0:00:00,0,5
2,VT_27032019_TC5288,3,2019-07-02,18646820,17910469,2019-07-02,3.0,7/2/2019 0:00:00,500000,0
3,VT_27032019_TC5288,4,2019-08-02,17910469,17131164,2019-08-07,4.0,8/15/2019 0:00:00,100000,5
4,VT_27032019_TC5288,5,2019-09-02,17131164,16306400,2019-09-06,5.0,9/6/2019 0:00:00,100000,4
5,VT_27032019_TC5288,6,2019-10-02,16306400,15433525,2019-10-03,6.0,10/3/2019 13:24:35,100000,1
6,VT_27032019_TC5288,7,2019-11-02,15433525,14509732,2019-11-04,7.0,11/4/2019 8:32:21,100000,2
7,VT_27032019_TC5288,8,2019-12-02,14509732,13532051,2019-12-02,8.0,12/2/2019 0:00:00,100000,0
8,VT_27032019_TC5288,9,2020-01-02,13532051,12497339,2020-01-02,9.0,1/2/2020 15:25:40,100000,0
9,VT_27032019_TC5288,10,2020-02-02,12497339,11402268,NaT,NaN,NaN,0,25
10,VT_27032019_TC5288,11,2020-03-02,11402268,10243319,2020-03-04,11.0,3/4/2020 14:40:42,100000,2
11,VT_27032019_TC5288,12,2020-04-02,10243319,9016764,2020-04-20,12.0,4/20/2020 10:17:12,100000,18
12,VT_27032019_TC5288,13,2020-05-02,9016764,7718660,2020-05-15,13.0,5/15/2020 13:23:47,100000,13
13,VT_27032019_TC5288,14,2020-06-02,7718660,6344833,2020-06-08,14.0,6/8/2020 14:26:42,100000,6
14,VT_27032019_TC5288,15,2020-07-02,6344833,4890866,2020-07-06,15.0,7/6/2020 14:41:08,200000,4
15,VT_27032019_TC5288,16,2020-08-02,4890866,3352084,2020-08-05,16.0,8/5/2020 0:00:00,200000,3
16,VT_27032019_TC5288,17,2020-09-02,3352084,1723540,2020-09-07,17.0,9/7/2020 18:54:28,200000,5
17,VT_27032019_TC5288,18,2020-10-02,1723540,0,2020-10-05,18.0,10/5/2020 0:00:00,200000,3
18,VT_2,1,2019-05-02,1723540,0,2019-05-13,1.0,5/13/2019 10:25:09,0,11
19,VT_2,2,2019-06-02,1723540,0,2019-06-07,2.0,6/7/2019 0:00:00,0,5
20,VT_2,3,2019-07-02,1723540,0,2019-07-02,3.0,7/2/2019 0:00:00,500000,0
21,VT_2,4,2019-08-02,1723540,0,2019-08-07,4.0,8/15/2019 0:00:00,100000,5
22,VT_2,5,2019-09-02,1723540,0,2019-09-06,5.0,9/6/2019 0:00:00,100000,4
23,VT_2,6,2019-10-02,1723540,0,2019-10-03,6.0,10/3/2019 13:24:35,100000,1
24,VT_2,7,2019-11-02,1723540,0,2019-11-04,7.0,11/4/2019 8:32:21,100000,2
25,VT_2,8,2019-12-02,1723540,0,2019-12-02,8.0,12/2/2019 0:00:00,100000,0
26,VT_2,9,2020-01-02,1723540,0,2020-01-02,9.0,1/2/2020 15:25:40,0,0
27,VT_2,10,2020-02-02,1723540,0,NaT,NaN,NaN,0,25
28,VT_2,11,2020-03-02,1723540,0,2020-03-04,11.0,3/4/2020 14:40:42,0,2
29,VT_2,12,2020-04-02,1723540,0,2020-04-20,12.0,4/20/2020 10:17:12,0,18
30,VT_2,13,2020-05-02,1723540,0,2020-05-15,13.0,5/15/2020 13:23:47,0,13
31,VT_2,14,2020-06-02,1723540,0,2020-06-12,14.0,6/8/2020 14:26:42,0,10
32,VT_2,15,2020-07-02,1723540,0,2020-07-06,15.0,7/6/2020 14:41:08,0,4
33,VT_2,16,2020-08-02,1723540,0,2020-08-05,16.0,8/5/2020 0:00:00,0,3
34,VT_2,17,2020-09-02,1723540,0,2020-09-07,17.0,9/7/2020 18:54:28,0,5
35,VT_2,18,2020-10-02,1723540,0,2020-10-05,18.0,10/5/2020 0:00:00,100000,3

In [22]:
final_df["Tiền phạt kỳ này"] = final_df["Ngày quá hạn"].apply(lambda  x: (x-5)*100000 if x>6 else 0)

In [23]:
final_df

,Mã hợp đồng,Kỳ hạn,Ngày đến hạn,Dư nợ gốc đầu kỳ,Dư nợ gốc cuối kỳ,Ngày vào sổ,Kỳ đóng tiền,Thời gian trả_grouped,Số tiền nộp phạt_grouped,Ngày quá hạn,Tiền phạt kỳ này
0,VT_27032019_TC5288,1,2019-05-02,20000000,19342585,2019-05-13,1.0,5/13/2019 10:25:09,0,11,600000
1,VT_27032019_TC5288,2,2019-06-02,19342585,18646820,2019-06-07,2.0,6/7/2019 0:00:00,0,5,0
2,VT_27032019_TC5288,3,2019-07-02,18646820,17910469,2019-07-02,3.0,7/2/2019 0:00:00,500000,0,0
3,VT_27032019_TC5288,4,2019-08-02,17910469,17131164,2019-08-07,4.0,8/15/2019 0:00:00,100000,5,0
4,VT_27032019_TC5288,5,2019-09-02,17131164,16306400,2019-09-06,5.0,9/6/2019 0:00:00,100000,4,0
5,VT_27032019_TC5288,6,2019-10-02,16306400,15433525,2019-10-03,6.0,10/3/2019 13:24:35,100000,1,0
6,VT_27032019_TC5288,7,2019-11-02,15433525,14509732,2019-11-04,7.0,11/4/2019 8:32:21,100000,2,0
7,VT_27032019_TC5288,8,2019-12-02,14509732,13532051,2019-12-02,8.0,12/2/2019 0:00:00,100000,0,0
8,VT_27032019_TC5288,9,2020-01-02,13532051,12497339,2020-01-02,9.0,1/2/2020 15:25:40,100000,0,0
9,VT_27032019_TC5288,10,2020-02-02,12497339,11402268,NaT,NaN,NaN,0,25,2000000
10,VT_27032019_TC5288,11,2020-03-02,11402268,10243319,2020-03-04,11.0,3/4/2020 14:40:42,100000,2,0
11,VT_27032019_TC5288,12,2020-04-02,10243319,9016764,2020-04-20,12.0,4/20/2020 10:17:12,100000,18,1300000
12,VT_27032019_TC5288,13,2020-05-02,9016764,7718660,2020-05-15,13.0,5/15/2020 13:23:47,100000,13,800000
13,VT_27032019_TC5288,14,2020-06-02,7718660,6344833,2020-06-08,14.0,6/8/2020 14:26:42,100000,6,0
14,VT_27032019_TC5288,15,2020-07-02,6344833,4890866,2020-07-06,15.0,7/6/2020 14:41:08,200000,4,0
15,VT_27032019_TC5288,16,2020-08-02,4890866,3352084,2020-08-05,16.0,8/5/2020 0:00:00,200000,3,0
16,VT_27032019_TC5288,17,2020-09-02,3352084,1723540,2020-09-07,17.0,9/7/2020 18:54:28,200000,5,0
17,VT_27032019_TC5288,18,2020-10-02,1723540,0,2020-10-05,18.0,10/5/2020 0:00:00,200000,3,0
18,VT_2,1,2019-05-02,1723540,0,2019-05-13,1.0,5/13/2019 10:25:09,0,11,600000
19,VT_2,2,2019-06-02,1723540,0,2019-06-07,2.0,6/7/2019 0:00:00,0,5,0
20,VT_2,3,2019-07-02,1723540,0,2019-07-02,3.0,7/2/2019 0:00:00,500000,0,0
21,VT_2,4,2019-08-02,1723540,0,2019-08-07,4.0,8/15/2019 0:00:00,100000,5,0
22,VT_2,5,2019-09-02,1723540,0,2019-09-06,5.0,9/6/2019 0:00:00,100000,4,0
23,VT_2,6,2019-10-02,1723540,0,2019-10-03,6.0,10/3/2019 13:24:35,100000,1,0
24,VT_2,7,2019-11-02,1723540,0,2019-11-04,7.0,11/4/2019 8:32:21,100000,2,0
25,VT_2,8,2019-12-02,1723540,0,2019-12-02,8.0,12/2/2019 0:00:00,100000,0,0
26,VT_2,9,2020-01-02,1723540,0,2020-01-02,9.0,1/2/2020 15:25:40,0,0,0
27,VT_2,10,2020-02-02,1723540,0,NaT,NaN,NaN,0,25,2000000
28,VT_2,11,2020-03-02,1723540,0,2020-03-04,11.0,3/4/2020 14:40:42,0,2,0
29,VT_2,12,2020-04-02,1723540,0,2020-04-20,12.0,4/20/2020 10:17:12,0,18,1300000
30,VT_2,13,2020-05-02,1723540,0,2020-05-15,13.0,5/15/2020 13:23:47,0,13,800000
31,VT_2,14,2020-06-02,1723540,0,2020-06-12,14.0,6/8/2020 14:26:42,0,10,500000
32,VT_2,15,2020-07-02,1723540,0,2020-07-06,15.0,7/6/2020 14:41:08,0,4,0
33,VT_2,16,2020-08-02,1723540,0,2020-08-05,16.0,8/5/2020 0:00:00,0,3,0
34,VT_2,17,2020-09-02,1723540,0,2020-09-07,17.0,9/7/2020 18:54:28,0,5,0
35,VT_2,18,2020-10-02,1723540,0,2020-10-05,18.0,10/5/2020 0:00:00,100000,3,0

In [24]:
giam_tru_sheet = spreadsheets.get_worksheet_by_id('1700047741').get_all_records()

In [25]:
# lấy bảng kì hạn dự kiến
giam_tru_df = pd.DataFrame(giam_tru_sheet)
giam_tru_df

    Kỳ hạn Ngày đến hạn         Mã hợp đồng  Số tiền giảm trừ
0          1   2019-02-05  VT_27032019_TC5288                 0
1          2   2019-02-06  VT_27032019_TC5288                 0
2          3   2019-02-07  VT_27032019_TC5288                 0
3          4   2019-02-08  VT_27032019_TC5288            100000
4          5   2019-02-09  VT_27032019_TC5288                 0
5          6   2019-02-10  VT_27032019_TC5288                 0
6          7   2019-02-11  VT_27032019_TC5288                 0
7          8   2019-02-12  VT_27032019_TC5288                 0
8          9   2020-02-01  VT_27032019_TC5288                 0
9         10   2020-02-02  VT_27032019_TC5288                 0
10        11   2020-02-03  VT_27032019_TC5288                 0
11        12   2020-02-04  VT_27032019_TC5288                 0
12        13   2020-02-05  VT_27032019_TC5288                 0
13        14   2020-02-06  VT_27032019_TC5288                 0
14        15   2020-02-07  VT_27032019_TC5288                 0
15        16   2020-02-08  VT_27032019_TC5288                 0
16        17   2020-02-09  VT_27032019_TC5288                 0
17        18   2020-02-10  VT_27032019_TC5288           1993246

In [26]:
final_df = pd.merge(final_df,giam_tru_df, how='left',left_on=['Mã hợp đồng', 'Kỳ hạn'],right_on=['Mã hợp đồng','Kỳ hạn'])

In [27]:
final_df=final_df.sort_values(by=["Mã hợp đồng","Kỳ hạn"]).reset_index()

In [33]:
final_df['Số tiền giảm trừ'] = final_df['Số tiền giảm trừ'].fillna(0).astype(int)

In [34]:
final_df.loc[:,["Mã hợp đồng","Số tiền nộp phạt_grouped","Kỳ hạn","Tiền phạt kỳ này",'Số tiền giảm trừ']]

,Mã hợp đồng,Số tiền nộp phạt_grouped,Kỳ hạn,Tiền phạt kỳ này,Số tiền giảm trừ
0,VT_2,0,1,600000,0
1,VT_2,0,2,0,0
2,VT_2,500000,3,0,0
3,VT_2,100000,4,0,0
4,VT_2,100000,5,0,0
5,VT_2,100000,6,0,0
6,VT_2,100000,7,0,0
7,VT_2,100000,8,0,0
8,VT_2,0,9,0,0
9,VT_2,0,10,2000000,0
10,VT_2,0,11,0,0
11,VT_2,0,12,1300000,0
12,VT_2,0,13,800000,0
13,VT_2,0,14,500000,0
14,VT_2,0,15,0,0
15,VT_2,0,16,0,0
16,VT_2,0,17,0,0
17,VT_2,100000,18,0,0
18,VT_27032019_TC5288,0,1,600000,0
19,VT_27032019_TC5288,0,2,0,0
20,VT_27032019_TC5288,500000,3,0,0
21,VT_27032019_TC5288,100000,4,0,100000
22,VT_27032019_TC5288,100000,5,0,0
23,VT_27032019_TC5288,100000,6,0,0
24,VT_27032019_TC5288,100000,7,0,0
25,VT_27032019_TC5288,100000,8,0,0
26,VT_27032019_TC5288,100000,9,0,0
27,VT_27032019_TC5288,0,10,2000000,0
28,VT_27032019_TC5288,100000,11,0,0
29,VT_27032019_TC5288,100000,12,1300000,0
30,VT_27032019_TC5288,100000,13,800000,0
31,VT_27032019_TC5288,100000,14,0,0
32,VT_27032019_TC5288,200000,15,0,0
33,VT_27032019_TC5288,200000,16,0,0
34,VT_27032019_TC5288,200000,17,0,0
35,VT_27032019_TC5288,200000,18,0,1993246

In [29]:
# tiền phạt lũy kế cuối kỳ >= 0 và <= 2000000
def checkdieukiensotienphat(a):
    x = 0
    # if a < 0:
    #     x = 0
    if a > 2000000:
        x = 2000000
    else:
        x = a
    return x

In [43]:
# Tính Tiền phạt lũy kế cuối kỳ
# final_df['Tiền phạt lũy kế cuối kỳ'] = 0
for mahopdong in final_df['Mã hợp đồng'].unique():
    partition_by_mahopdong = final_df['Mã hợp đồng'] == mahopdong
    first_index = final_df[partition_by_mahopdong]['Kỳ hạn'].idxmin()
    first_value = final_df.loc[first_index, 'Tiền phạt kỳ này']
    final_df.loc[first_index, 'Tiền phạt nợ kỳ trước'] = 0
    final_df.loc[first_index, 'Tiền phạt lũy kế cuối kỳ'] = first_value

    for i in range(first_index + 1, len(final_df)):
        if final_df.loc[i, 'Mã hợp đồng'] == mahopdong:
              previous_luyke = final_df.loc[i - 1, 'Tiền phạt lũy kế cuối kỳ']
              current_phat = final_df.loc[i, 'Tiền phạt kỳ này']
              current_nop = final_df.loc[i, 'Số tiền nộp phạt_grouped']
              current_giamtru = final_df.loc[i, 'Số tiền giảm trừ']
              current_luyke = current_phat + previous_luyke - current_nop - current_giamtru
              current_luyke = checkdieukiensotienphat(current_luyke)

              final_df.loc[i, 'Tiền phạt nợ kỳ trước'] = previous_luyke
              if current_luyke >= 0:
                final_df.loc[i, 'Tiền phạt lũy kế cuối kỳ'] = current_luyke
                final_df.loc[i, 'Tiền dư(trừ vào gốc lãi)'] = 0
              elif current_luyke < 0:
                final_df.loc[i, 'Tiền phạt lũy kế cuối kỳ'] = 0
                final_df.loc[i, 'Tiền dư(trừ vào gốc lãi)'] = - current_luyke

In [44]:
final_df

,index,Mã hợp đồng,Kỳ hạn,Ngày đến hạn_x,Dư nợ gốc đầu kỳ,Dư nợ gốc cuối kỳ,Ngày vào sổ,Kỳ đóng tiền,Thời gian trả_grouped,Số tiền nộp phạt_grouped,Ngày quá hạn,Tiền phạt kỳ này,Ngày đến hạn_y,Số tiền giảm trừ,Tiền phạt nợ kỳ trước,Tiền phạt lũy kế cuối kỳ,Tiền dư(trừ vào gốc lãi)
0,18,VT_2,1,2019-05-02,1723540,0,2019-05-13,1.0,5/13/2019 10:25:09,0,11,600000,NaN,0,0.0,600000.0,NaN
1,19,VT_2,2,2019-06-02,1723540,0,2019-06-07,2.0,6/7/2019 0:00:00,0,5,0,NaN,0,600000.0,600000.0,0.0
2,20,VT_2,3,2019-07-02,1723540,0,2019-07-02,3.0,7/2/2019 0:00:00,500000,0,0,NaN,0,600000.0,100000.0,0.0
3,21,VT_2,4,2019-08-02,1723540,0,2019-08-07,4.0,8/15/2019 0:00:00,100000,5,0,NaN,0,100000.0,0.0,0.0
4,22,VT_2,5,2019-09-02,1723540,0,2019-09-06,5.0,9/6/2019 0:00:00,100000,4,0,NaN,0,0.0,0.0,100000.0
5,23,VT_2,6,2019-10-02,1723540,0,2019-10-03,6.0,10/3/2019 13:24:35,100000,1,0,NaN,0,0.0,0.0,100000.0
6,24,VT_2,7,2019-11-02,1723540,0,2019-11-04,7.0,11/4/2019 8:32:21,100000,2,0,NaN,0,0.0,0.0,100000.0
7,25,VT_2,8,2019-12-02,1723540,0,2019-12-02,8.0,12/2/2019 0:00:00,100000,0,0,NaN,0,0.0,0.0,100000.0
8,26,VT_2,9,2020-01-02,1723540,0,2020-01-02,9.0,1/2/2020 15:25:40,0,0,0,NaN,0,0.0,0.0,0.0
9,27,VT_2,10,2020-02-02,1723540,0,NaT,NaN,NaN,0,25,2000000,NaN,0,0.0,2000000.0,0.0
10,28,VT_2,11,2020-03-02,1723540,0,2020-03-04,11.0,3/4/2020 14:40:42,0,2,0,NaN,0,2000000.0,2000000.0,0.0
11,29,VT_2,12,2020-04-02,1723540,0,2020-04-20,12.0,4/20/2020 10:17:12,0,18,1300000,NaN,0,2000000.0,2000000.0,0.0
12,30,VT_2,13,2020-05-02,1723540,0,2020-05-15,13.0,5/15/2020 13:23:47,0,13,800000,NaN,0,2000000.0,2000000.0,0.0
13,31,VT_2,14,2020-06-02,1723540,0,2020-06-12,14.0,6/8/2020 14:26:42,0,10,500000,NaN,0,2000000.0,2000000.0,0.0
14,32,VT_2,15,2020-07-02,1723540,0,2020-07-06,15.0,7/6/2020 14:41:08,0,4,0,NaN,0,2000000.0,2000000.0,0.0
15,33,VT_2,16,2020-08-02,1723540,0,2020-08-05,16.0,8/5/2020 0:00:00,0,3,0,NaN,0,2000000.0,2000000.0,0.0
16,34,VT_2,17,2020-09-02,1723540,0,2020-09-07,17.0,9/7/2020 18:54:28,0,5,0,NaN,0,2000000.0,2000000.0,0.0
17,35,VT_2,18,2020-10-02,1723540,0,2020-10-05,18.0,10/5/2020 0:00:00,100000,3,0,NaN,0,2000000.0,1900000.0,0.0
18,0,VT_27032019_TC5288,1,2019-05-02,20000000,19342585,2019-05-13,1.0,5/13/2019 10:25:09,0,11,600000,2019-02-05,0,0.0,600000.0,NaN
19,1,VT_27032019_TC5288,2,2019-06-02,19342585,18646820,2019-06-07,2.0,6/7/2019 0:00:00,0,5,0,2019-02-06,0,600000.0,600000.0,0.0
20,2,VT_27032019_TC5288,3,2019-07-02,18646820,17910469,2019-07-02,3.0,7/2/2019 0:00:00,500000,0,0,2019-02-07,0,600000.0,100000.0,0.0
21,3,VT_27032019_TC5288,4,2019-08-02,17910469,17131164,2019-08-07,4.0,8/15/2019 0:00:00,100000,5,0,2019-02-08,100000,100000.0,0.0,100000.0
22,4,VT_27032019_TC5288,5,2019-09-02,17131164,16306400,2019-09-06,5.0,9/6/2019 0:00:00,100000,4,0,2019-02-09,0,0.0,0.0,100000.0
23,5,VT_27032019_TC5288,6,2019-10-02,16306400,15433525,2019-10-03,6.0,10/3/2019 13:24:35,100000,1,0,2019-02-10,0,0.0,0.0,100000.0
24,6,VT_27032019_TC5288,7,2019-11-02,15433525,14509732,2019-11-04,7.0,11/4/2019 8:32:21,100000,2,0,2019-02-11,0,0.0,0.0,100000.0
25,7,VT_27032019_TC5288,8,2019-12-02,14509732,13532051,2019-12-02,8.0,12/2/2019 0:00:00,100000,0,0,2019-02-12,0,0.0,0.0,100000.0
26,8,VT_27032019_TC5288,9,2020-01-02,13532051,12497339,2020-01-02,9.0,1/2/2020 15:25:40,100000,0,0,2020-02-01,0,0.0,0.0,100000.0
27,9,VT_27032019_TC5288,10,2020-02-02,12497339,11402268,NaT,NaN,NaN,0,25,2000000,2020-02-02,0,0.0,2000000.0,0.0
28,10,VT_27032019_TC5288,11,2020-03-02,11402268,10243319,2020-03-04,11.0,3/4/2020 14:40:42,100000,2,0,2020-02-03,0,2000000.0,1900000.0,0.0
29,11,VT_27032019_TC5288,12,2020-04-02,10243319,9016764,2020-04-20,12.0,4/20/2020 10:17:12,100000,18,1300000,2020-02-04,0,1900000.0,2000000.0,0.0
30,12,VT_27032019_TC5288,13,2020-05-02,9016764,7718660,2020-05-15,13.0,5/15/2020 13:23:47,100000,13,800000,2020-02-05,0,2000000.0,2000000.0,0.0
31,13,VT_27032019_TC5288,14,2020-06-02,7718660,6344833,2020-06-08,14.0,6/8/2020 14:26:42,100000,6,0,2020-02-06,0,2000000.0,1900000.0,0.0
32,14,VT_27032019_TC5288,15,2020-07-02,6344833,4890866,2020-07-06,15.0,7/6/2020 14:41:08,200000,4,0,2020-02-07,0,1900000.0,1700000.0,0.0
33,15,VT_27032019_TC5288,16,2020-08-02,4890866,3352084,2020-08-05,16.0,8/5/2020 0:00:00,200000,3,0,2020-02-08,0,1700000.0,1500000.0,0.0
34,16,VT_27032019_TC5288,17,2020-09-02,3352084,1723540,2020-09-07,17.0,9/7/2020 18:54:28,200000,5,0,2020-02-09,0,1500000.0,1300000.0,0.0
35,17,VT_27032019_TC5288,18,2020-10-02,1723540,0,2020-10-05,18.0,10/5/2020 0:00:00,200000,3,0,2020-02-10,1993246,1300000.0,0.0,893246.0